<div class="mfp-wrap popup-required-2020 is-visible" tabindex="-1" style="overflow-x: hidden; overflow-y: scroll;">
    <div class="mfp-container mfp-inline-holder">
        <div class="mfp-content">
            <div class="c-popup ">
                <div class="c-popup__body">
                    <div class="popup-required-2020__close js-popup-close"></div>
                    <div class="popup-required-2020-head">
                        <div class="popup-required-2020-head-logo">
                            <svg class="icon-pies-logo">
                                <use xlink:href="icons/all.svg#icon-pies-logo"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="popup-required-2020-section">
                        <div class="popup-required-2020-info">
                            <div class="popup-required-2020-info__title">
                                Алексей Владимирович
                            </div>
                            <div class="popup-required-2020-info__text">
                                Вы впервые зашли на сайт интернет-магазина Петровские-Пироги. </br>
                                Для начала работы нам нужна дополнительная информация:
                            </div>
                        </div>
                    </div>
                    <div class="popup-required-2020-section">
                        <ul class="popup-required-2020-list">
                            <li class="popup-required-2020-list-item">
                                <div class="popup-required-2020-list-item__text">Адрес доставки по умолчанию</div>
                                <div class="popup-required-2020-list-item__subtext">
                                    для того, чтобы корректно показать вам остатки и цены ближайшего
                                    магазина торговой сети Петровский
                                </div>
                            </li>
                        </ul>
                        <div class="popup-required-2020-form-row">
                            <label class="popup-required-2020-form-radio js-address-radio active">
                                <input type="radio" checked="checked" name="popup-required-address">
                                <span class="popup-required-2020-form-radio__checkmark"></span>
                            </label>
                            <label class="popup-required-2020-form-input">
                                <textarea class="inp" rows="2" placeholder="Г. Архангельск ул. 1-й Рабочий квартал, город Архангельск д. 12"></textarea>
                                <span class="popup-required-2020-form-input-text">Адрес выбран как основной</span>
                            </label>
                            <a href="#" class="popup-required-2020-form-add">
                                <svg class="icon-popup-add">
                                    <use xlink:href="icons/all.svg#icon-popup-add"></use>
                                </svg>
                            
                            </a>
                        </div>
                        <div class="popup-required-2020-form-row">
                            <label class="popup-required-2020-form-radio js-address-radio">
                                <input type="radio" name="popup-required-address">
                                <span class="popup-required-2020-form-radio__checkmark"></span>
                            </label>
                            <label class="popup-required-2020-form-input">
                                <textarea class="inp" rows="2" placeholder="Г. Архангельск ул. 1-й Рабочий квартал, город Архангельск д. 12"></textarea>
                                <span class="popup-required-2020-form-input-text">Адрес выбран как основной</span>
                            </label>
                            <a href="#" class="popup-required-2020-form-delete">
                                <svg class="icon-popup-add">
                                    <use xlink:href="icons/all.svg#icon-popup-add"></use>
                                </svg>
                            
                            </a>
                        </div>
                    </div>
                    <div class="popup-required-2020-section">
                        <ul class="popup-required-2020-list">
                            <li class="popup-required-2020-list-item">
                                <div class="popup-required-2020-list-item__text">Ваш номер мобильного телефона</div>
                                <div class="popup-required-2020-list-item__subtext">
                                    чтобы оператор интернет- магазина или курьер при доставке мог с Вами
                                    оперативно связаться
                                </div>
                            </li>
                        </ul>
                        <label class="popup-required-2020-input">
                            <input class="inp" type="text" name="" placeholder="+7 (___) ___-__-__">
                        </label>
                    </div>
                    <div class="popup-required-2020-section">
                        <ul class="popup-required-2020-list">
                            <li class="popup-required-2020-list-item">
                                <div class="popup-required-2020-list-item__text">Ваш номер карты Снегири</div>
                                <div class="popup-required-2020-list-item__subtext">
                                    для того, чтобы порадовать вас нашими ценами
                                </div>
                            </li>
                        </ul>
                        <label class="popup-required-2020-input">
                            <input class="inp" type="text" name="" placeholder="08160019512">
                        </label>
                        <div class="popup-required-2020-snegiri">
                            <div class="popup-required-2020-snegiri__icon">
                                <svg class="icon-pies-payment">
                                    <use xlink:href="icons/all.svg#icon-pies-payment"></use>
                                </svg>
                                
                            </div>
                            <div class="popup-required-2020-snegiri-text">
                                Алексей Владимирович - остаток бонусов на карте:
                                <span class="popup-required-2020-snegiri-text__amount">
                                    156
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="popup-required-2020-bottom">
                        <div class="popup-required-2020-bottom__title">
                            Спасибо вам, приятных покупок!
                        </div>
                        <div class="row__licence">
                            <label class="licence__container">
                                Я ознакомлен(а) с
                                <a href="/person/" target="_blank">Положением о защите персональных данных покупателей интернет – магазина «Петровские Пироги»</a>.
                                <br>
                                Настоящим я даю разрешение ИП ЖЕМЧУГОВУ НИКОЛАЮ ВЛАДИМИРОВИЧУ и его уполномоченным представителям получать, собирать, хранить, и использовать мои персональные данные: фамилию, имя, отчество, домашний и мобильный телефоны, адрес электронной почты, в целях заключения и исполнения договора купли-продажи и информирования потребителя. Согласие может в любой момент быть мною отозвано путем направления письменного уведомления.
                                <input type="checkbox" checked="checked" name="licence">
                                <span class="licence__checkmark"></span>
                            </label>
                        </div>
                        <a href="#" class="popup-required-2020-bottom-button">Сохранить изменения</a>


                    </div>
                        
                </div>

            </div>
        </div>
    </div>
</div>