<div class="mfp-wrap popup_auth popup-auth-2020" tabindex="-1" style="overflow-x: hidden; overflow-y: scroll;">
    <div class="mfp-container mfp-inline-holder">
        <div class="mfp-content">
            <div class="c-popup ">
                <div class="c-popup__body">
                    <div class="popup-auth-2020__close js-popup-close"></div>
                    <div class="popup-auth-2020-head">
                        <div class="popup-auth-2020-head-icon">
                            <svg class="icon-user-auth">
                                <use xlink:href="icons/all.svg#icon-user-auth"></use>
                            </svg>
                        </div>
                        <div class="popup-auth-2020-head-title">
                            <span class="popup-auth-2020-head-title__decor"></span>
                            <span class="popup-auth-2020-head-title__text">Вход в аккаунт</span>
                            <span class="popup-auth-2020-head-title__decor"></span>
                        </div>
                    </div>
                    <div class="popup-auth-2020-body">
                        <div class="popup-auth-2020-body-inputs">
                            <div class="popup-auth-2020-input">
                                <div class="popup-auth-2020-input__text">
                                    Для входа на сайт введите ваш номер мобильного телефона
                                </div>
                                <label class="popup-auth-2020-input-wrap">
                                    <input class="inp" type="text" name="" placeholder="+7 (___) ___ __ __">
                                </label>
                            </div>
                            <div class="popup-auth-2020-input">
                                <div class="popup-auth-2020-input__text">
                                    Введите полученный код подтверждения из СМС сообщения
                                </div>
                                <label class="popup-auth-2020-input-wrap">
                                    <input class="inp" type="text" name="" placeholder="">
                                </label>
                            </div>
                        </div>
                        <a href="" class="popup-auth-2020-button">
                            Отправить код подтверждения еще раз
                        </a>
                        <div class="popup-auth-2020-alter">
                            <div class="popup-auth-2020-alter__text">
                                Другой способ входа:
                            </div>
                            <a href="" class="popup-auth-2020-alter-vk">
                                <svg class="icon-popup-vk">
                                    <use xlink:href="icons/all.svg#icon-popup-vk"></use>
                                </svg>
                            </a>
                            <a href="" class="popup-auth-2020-alter-password">
                                <svg class="icon-popup-key">
                                    <use xlink:href="icons/all.svg#icon-popup-key"></use>
                                </svg>
                                <span class="popup-auth-2020-alter-password__text">Войти с паролем</span>
                            </a>

                        </div>
                    </div>
                        
                </div>

            </div>
        </div>
    </div>
</div>